<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" href="./css/bootstrap.min.css" />
	<link rel="stylesheet" href="./css/font-awesome.min.css" />
	<link rel="stylesheet" href="./css/owl.carousel.css" />
	<link rel="stylesheet" href="./css/style.css" />
</head>

<body >
	<header class="header-section">
		<div class="container" style='margin-left: 207px;'>
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="img/logo.png" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<a href="/users/login" class="site-btn header-btn">Login</a>
					<nav class="main-menu">
						<ul>
							<li><a href="/">Home</a></li>

							<li><a href="/courses">Courses</a></li>
							<li><a href="/contact">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100" style="background: none;">
				<div class="login100-pic js-tilt" data-tilt>
					<img src="./img/img-01.png" alt="IMG">
				</div>

				<form action="/users/register" method="post" class="login100-form">
					<%-include("./partials/messages")-%>
					<span class="login100-form-title">
						Member Registration
					</span>
					<div class="form-row wrap-input100">
						<input type="name" id="name" name="name" class="input100" placeholder="Enter Name"
							value="<%= typeof name != 'undefined' ? name : '' %>" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-user" aria-hidden="true"></i>
							</span>
					</div>
					<div class="form-row wrap-input100">
						<input type="email" id="email" name="email" class="input100" placeholder="Enter Email"
							value="<%= typeof email != 'undefined' ? email : '' %>" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</span>
					</div>
					<div class="form-row wrap-input100">
						<input type="password" id="password" name="password" class="input100" placeholder="Create Password"
							value="<%= typeof password != 'undefined' ? password : '' %>" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
					</div>
					<div class="form-row wrap-input100">
						<input type="password" id="password2" name="password2" class="input100" placeholder="Create Password"
							value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<i class="fa fa-lock" aria-hidden="true"></i>
							</span>
					</div>

					<div class="container-login100-form-btn">
						<button type="submit" class="login100-form-btn"> Register </button>
					</div>
					<div class="container-login100-form-btn">
						<a href="/users/login" class="login100-form-btn"> Login </a>
					</div>
					<div class="container-login100-form-btn">
						<a href="/" class="btn btn-secondary"> Go Home </a>
					</div>
			</div>
		</div>
	</div>




	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
	<script>
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>